.fhhh{
    border: 1px solid red;
    /* border-color: blueviolet; */
}



@media only screen and (max-width: 600px) {
    .mainjob{
        display: none;
    }

    .chhh{
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
}